@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

@media (max-width: 768px){
    *{
        margin:0;
        padding: 0;
        font-family: "nunitio", sans-serif;
        font-size: 20px;
    }
    body{
        background-image: url(./../assetes/image/fondos/fondodelmain.jpg);
        grid-template-columns: 1fr;
        grid-template-rows: 10% 1fr 15%;
        grid-template-areas: 
        "header"
        "main"
        "footer";
    }
    body button{
        background-color: rgba(240, 248, 255, 0);
        border: 0px;
        cursor: pointer;
    }
    
    body a{
        text-decoration: none;
    }
    header{
        grid-area: header;
    }
    #navDestok{
        display: none;
    }
    #navMobile{
        background-image: url(./.././assetes/image/fondos/fondo-abstracto-textura.jpg);
        width: 99%;
        height: 90px;
        margin: 0px 2px 3px 2px;
    }

    #logodeboca{
        position: absolute;
        top: 10px;
        left: 14px;
        width: 129px;
        height: 70px; 
    }
    .navbar-nav .nav-link {
        color: white !important;
    }

    .navbar-brand {
        color: white !important;
    }

    .navbar-collapse {
        background-image: url(./.././assetes/image/fondos/fondo-abstracto-textura.jpg);
        padding: 1rem;
    }
    #navMobile ul li{
        text-align: right;
    }
    
    main{
        grid-area: main;
        background-color: aliceblue;
        width: 100%;
        height: 100%;
        padding: 10px;
    }
    main h1, main p{
        background-color: aliceblue;
        padding-top: 25px;
    }

    .imagenesArticulo{
        width: 100%;
        height: 100%;
    }

    section{
    color: rgb(0, 0, 0);
    padding: 5px 5px 5px 5px;
    }

    section h1{
    border-top: 2px solid  rgb(7, 27, 92);
    }
    section div {
        margin: 5px 5px 0px 5px;
        display: flex;
        flex-flow: column;
        align-items: stretch;
        
    }
    .productosNovedosos{
        grid-template-columns: 50% 50%;
        grid-template-rows: 100%;
        grid-template-areas: "imagen informacion";
    }
    section ul{
        display: flex;
        flex-flow: row;
        list-style: none;
        width: 100%;
        height: 100%;
        border: 2px solid rgb(7, 27, 92);
    }
    
    section ul li{
        align-items: center;
        width: 100%; 
        height: 100%;
    }
    
    section ul li p{
        grid-area: informacion;
        text-align: start;
        width: 100%;
        height: 100%;
        padding: 0px 2px 0px 2px;
    }

    .imagenesProductos{
        grid-area: imagen;
        width: 100%;
        height: 100%;
    }

    footer{
        grid-area: footer;
        background-image: url(./../assetes/image/fondos/fondo-abstracto-textura.jpg);
        position: relative;
        align-items: stretch;
    }
    
    footer h6{
        color: rgb(235, 255, 125);
    }
    
    footer div ul li p,footer div ul li a{
        font-size: 15px;
        color: aliceblue;
    }
    
    #textodelfooter{
        list-style: none;
        align-items: start;
    }
    
    #redessociales{
        list-style: none;
        text-align: start;
        font: 200px;
        padding-top: 20px;
    }   
    
    #contacto{
        list-style: none;
        font: 250px;
        text-align: start;
    }
    
    #finaldelfooter{
        color: aliceblue;
        position: relative;
        font-size: 11px;
        text-align: center; 
    
    }
    
    #botondelfooter{
        position: relative;
        width: 10px;
        padding-left: 45%;
    }
    
}

@media (min-width:768px){

*{
    margin:0;
    padding: 0;
    font-family: "nunitio", sans-serif;
    font-size: 20px;
}

body{
    background-image: url(./../assetes/image/fondos/fondodelmain.jpg);
    grid-template-columns: 1fr;
    grid-template-rows: 10% 1fr 15%;
    grid-template-areas: 
    "header"
    "main"
    "footer";
}

body button{
    background-color: rgba(240, 248, 255, 0);
    border: 0px;
    cursor: pointer;
}

body a{
    text-decoration: none;
}
header{
    grid-area: header;
}
#navMobile{
    display: none;
}

#logodeboca{
    position: absolute;
    top: 10px;
    left: 14px;
    width: 129px;
    height: 70px; 
}

nav{
    background-image: url(./.././assetes/image/fondos/fondo-abstracto-textura.jpg);
    width: 100%;
    height: 90px;
    margin: 0px 2px 3px 2px;
    display: flex;
    justify-content: space-between;
    align-items:center ;
    position: fixed;
}


#navDestok ul{
    list-style: none;
    display: flex;

}

#navDestok ul li{
    font-style: none;
    display: inline-block;
    padding:10px;
    margin-top: 50px;
}


#navDestok ul li a{
    color:rgb(255, 255, 255);
}


main{
    background-color: aliceblue;
    padding: 60px 0px 20px 0px;
    position: static;
    margin: 20px 10px 20px 10px;

}
main h1, main p{
    background-color: aliceblue;
    padding-top: 25px;
}

article{
    margin: 40px 5px 0px 5px;
}

.imagenesArticulo{
    width: 100%;
    height: 100%;
}

section{
color: rgb(0, 0, 0);
padding: 5px 5px 5px 5px;
}

section h1{
    border-top: 2px solid  rgb(7, 27, 92);
}
section h1, section h2{
    font-size: 30px;
}

section div {
    margin: 5px 5px 0px 5px;
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
}

section ul{
    
    display: flex;
    flex-flow: column;
    list-style: none;
    margin: 20px 5px 0px 5px;
    width: 23%;
    height: 100%;
    border: 2px solid rgb(7, 27, 92);
    
}

section ul li{
    align-items: center;
    width: 100%; 
    height: 100%;
}

section ul li p{
    width: 100%;
    height: 100%;
    padding: 0px 2px 0px 2px;
}

.imagenesProductos{
    width: 100%;
    height: 100%;
}

footer{
    grid-area: footer;
    background-image: url(./../assetes/image/fondos/fondo-abstracto-textura.jpg);
    position: relative;
    display: flex;
    flex-flow: column;
    align-items: stretch;
}

footer h6,footer h5{
    color: rgb(235, 255, 125);
}

footer div ul li p,footer div ul li a{
    font-size: 12px;
    color: aliceblue;
}

#textodelfooter{
    display: flex;
    flex-flow: row;
    list-style: none;
    padding: 10px 100px 10px 100px;
    align-items: center;
}

#redessociales{
    list-style: none;
    margin: 10px 10px 10px 10px;
    padding: 0px 50px 0px 50px ;
}   

#contacto{
    list-style: none;
    font: 250px;
    margin: 10px 10px 10px 10px;

}

#finaldelfooter{
    color: aliceblue;
    position: relative;
    font-size: 11px;
    padding-left: 45%;  

}

#botondelfooter{
    position: relative;
    width: 10px;
    padding-left: 50%;
}
}
/*
<nav id="nav">
                <div>
                    <a href="index.html">
                        <button id="logodeboca">
                            <img src="./assetes/image/logo-boca.png" alt="">
                        </button>
                    </a>
                </div>
                <ul>
                    <li><a href="./paginasEmergentes/futbol.html">futbol</a></li>
                    <li><a href="./paginasEmergentes/basquet.html">basquet</a></li>
                    <li><a href="./paginasEmergentes/entrenamiento.html">entrenamiento</a></li>
                    <li><a href="./paginasEmergentes/novedades.html">novedades</a></li>
                </ul>
        </nav>
*/